[Desktop Entry]
Type=Service
Name=Spectacle Toolbelt
MimeType=image/png;image/jpeg;image/webp;
Actions=Stitch;
ServiceTypes=KonqPopupMenu/Plugin
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
X-KDE-Submenu=Spectacle Toolbelt
X-KDE-MinNumberOfUrls=2
X-Spectacle-Toolbelt-Owned=true

[Desktop Action Stitch]
Name=Stitch with Spectacle Toolbelt
Icon=spectacle
Exec=spectacle-toolbelt stitch %F --open-in-spectacle
