[Desktop Entry]
Type=Application
Version=1.0
Name=Copy Markdown with Spectacle Toolbelt
GenericName=Screenshot Markdown Export
Comment=Create Markdown image syntax for a screenshot
Exec=spectacle-toolbelt markdown --copy %f
Icon=text-markdown
Terminal=true
Categories=Graphics;KDE;Qt;
Keywords=Spectacle;Screenshot;Markdown;Documentation;
MimeType=image/png;image/jpeg;image/webp;
StartupNotify=false
NoDisplay=true
X-Spectacle-Toolbelt-Owned=true
